.background { 
    position: fixed;
    width:100%;
    height:100%;
    background: url(Stuff/Background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -moz-animation: fadein 3s; /* Firefox */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera */
    animation: fadein 3s;
}

body{
    margin: 0;
    overflow: hidden;
    background-color: rgb(33,51,67);
    height:100%; 
}

.center{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width:100%
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -moz-animation: fadein 2s; /* Firefox */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera */
    animation: fadein 2s;
}

.middle{
    width:50%;
    margin:auto;
}

.center h1{
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000000;
    font-size: 125px;
    font-family: Square;
    margin:0;
    padding: 0px 10px 0px 10px;
}

.center h2{
    letter-spacing: 3px;
    width:550px;
    color:white;
    border-right:1.5px solid;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-family: "Courier";
    text-align:center;
    margin: 13px auto 0px auto;
    font-size: 30px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    min-width:0;
    text-shadow: 2px 2px 5px #000000;
    -webkit-animation: typing 7s steps(25, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 7s steps(25, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite; 


}

.baner{
    position: absolute;
    z-index: 1;
    top:0;
    width:100%;
    text-align: center;
    height:101px;
    background-color: rgba(17, 17, 17, 0.94);
}
.baner a{
    cursor:pointer;
    font-family:Square;
    color:white;
    font-size: 40px;
    text-decoration: none;
    margin:0px 5% 0px 5%;
}
.baner img{
    position:absolute;
    height:100px;
    left:0;
    top:0;
}
#home {
    color: #9647b7;
    font-weight: bold;
    font-size:50px;
}
#home{
    position: absolute;
    top:33;
    left:20%;
    transform: translate(-50%);
}
#about {
    position:absolute;
    top:33;
    left:45%;
    transform: translate(-50%);
}
#contact{
    position:absolute;
    top:33;
    left:70%;
    transform: translate(-50%);
}
.slideshow{
    position: absolute;
    height:400px;
    bottom: 5%;
    width: 60%;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    font-family: body1;
    font-size: 20px;
    overflow:hidden;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -moz-animation: fadein 2s; /* Firefox */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera */
    animation: fadein 2s;
    
}

.SlideBack {
    position:relative;
    z-index:-1;
    height:100%;
    width:100%;
    /* Prefix free isn't picking up this one */
    background-size: cover;
    background-color: rgba(17, 17, 17, 0.5);
    border-radius:10px;
}
.slidetext{
    width:80%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#slide1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: block;
    color:white;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 30;
    width:90%;
}
#slide2{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: none;
    color:white;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 30;
    width:90%;
}
#slide3{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: none;
    color:white;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 30;
    width:90%;
}
.dots{
    height:30px;
    position:absolute;
    bottom:0;
    width:210px;
    left:50%;
    transform:translate(-50%);
}
#dot1, #dot2, #dot3{
    width:50px;
    height: 10px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    float:left;
    margin: 10px;
    cursor:pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
#dot1{
    background-color:#9647B7;
}
#arrow-left{
    float:left;
    
}
#arrow-left img{
    width:100px;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    cursor:pointer;
}
#arrow-right{
    float:right;
}
#arrow-right img{
    width:100px;
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    transform: rotate(135deg);
    cursor:pointer;
}
@media screen and (max-height: 500px) {
  .slideshow {display:none;}

}
@media screen and (min-height: 1024px) {
  .slideshow {bottom:20%;}

}

@font-face {
    font-family: 'Square';
    src: url('Stuff/Fonts/Square/square.woff2') format('woff2'),
         url('Stuff/Fonts/Square/square.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:body1;
    src: url('Stuff/Fonts/athabasca/athabasca-lt.woff2') format('woff2'),
         url('Stuff/Fonts/athabasca/athabasca-lt.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@-webkit-keyframes RL {
    from { right: -1000px; }
    to { right: 50px; }
}
@-webkit-keyframes typing {
    from { width: 0 }
    to { width:524.5px }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:600px }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white}
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white}
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

        /* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

        /* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

        /* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

        /* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Sidenav***********************************************************/
.sidenav {
    height: 200px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 101px;
    right: 0;
    background-color: rgba(17, 17, 17, 0.94);
    overflow: hidden;
    transition: 0.5s;
    font-family: body1 ;
}

.sidenav li {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}
.email{
}
.closebtn{
    width:50px;
    cursor: pointer;
}
.bottomContact{
    padding-top:20px;
    height:60px;
    width:450px;
    margin:auto;
    overflow: hidden;
}
.socialMedia{
    width:50px;
    height:50px;
    border-radius:100px;
    float:left;
    margin:0px 50px 0px 50px;
    background-color:white;
    cursor:pointer;
}
#facebook img{
    width:50px;
    margin:0;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}