html{
    overflow:hidden;
}
body{
    margin: 0;
    overflow: hidden;
    width:100%;
    height:100%;
    background-color: #594760;
}
@font-face {
    font-family: 'Square';
    src: url('../Stuff/Fonts/Square/square.woff2') format('woff2'),
         url('../Stuff/Fonts/Square/square.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:body1;
    src: url('../Stuff/Fonts/athabasca/athabasca-lt.woff2') format('woff2'),
         url('../Stuff/Fonts/athabasca/athabasca-lt.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.background{
    height:100%;
}
.top{
    width:70%;
    position:absolute;
    top:47%;
    left:50%;
    transform: translate(-50%,-50%);
    animation:TD;
    animation-duration: 2s;
    
}
.Main p::-webkit-scrollbar {
    width: 7px;
}
/*.Main p::-webkit-scrollbar-track{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(212, 212, 212, 0.49);
        
}
/* Handle */
.Main p::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9647B7; 
     
}

.Main p{
    text-align: center;
    color: white; 
    font-size: 30px;
    font-family:body1;
    line-height: 30px;
    overflow-y: auto;
    padding:10px;
    height:300px;
    animation: TD;
    animation-duration: 2s;

}

.title{
    text-align: center;
}

.title h1{
    color: white;
    text-shadow: 2px 2px 5px #000000;
    font-size: 70px;
    font-family: Square;
    margin: 0;
    
}

.baner{
    position: absolute;
    z-index: 1;
    top:0;
    width:100%;
    text-align: center;
    height:101px;
    background-color: rgba(17, 17, 17, 0.94);
}
.baner a{
    cursor:pointer;
    font-family:Square;
    color:white;
    font-size: 40px;
    text-decoration: none;
    margin:0px 5% 0px 5%;
}
#home{
    position: absolute;
    top:33;
    left:20%;
    transform: translate(-50%);
}
#about {
    position:absolute;
    color:#9647B7;
    font-weight: bold;
    font-size: 50px;
    top:33;
    left:45%;
    transform: translate(-50%);
}
#contact{
    position:absolute;
    top:33;
    left:70%;
    transform: translate(-50%);
}
.baner img{
    position:absolute;
    height:100px;
    left:0;
    top:0;
}
/*table ********************************************************/
.bottom{
    position:absolute;
    height:20%;
    width:90%;
    bottom:0;
    left:50%;
    transform: translate(-50%);
}
.Charles{
    position:absolute;
    width:200px;
    height:20%;
    margin-left:10%;
    text-align: center;
    font-family: square;
    color:white;
    animation: LR;
    animation-duration: 2s;
}

.Charlie{
    position:absolute;
    width:200px;
    height:20%;
    margin-right:10%;
    right:0;
    text-align: center;
    font-family: square;
    color:white;
    animation: RL;
    animation-duration: 2s;
}
.Charles h3,.Charlie h3{
    font-size: 50px;
    margin:0;
    cursor: pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.Charles h3:hover,.Charlie h3:hover{
    color: #9647B7;
}
#CharliePage{
    position:absolute;
    z-index:1;
    bottom: 0;
    width:100%;
    height:0;
    background-color: rgba(17, 17, 17, 0.94);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    overflow: hidden;
}
#CharlesPage{
    position: absolute;
    z-index: 1;
    bottom: 0;
    width:100%;
    height:0;
    background-color: rgba(17, 17, 17, 0.94);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    overflow: hidden;
}
#CharlesPage img,#CharliePage img{
    position:absolute;
    right:10;
    top:20;
    transform: translate(-50%);
    width:50px;
    cursor: pointer;
}
#CharlesPage h1,#CharliePage h1{
    position: absolute;
    top: 30px;
    left: 5%;
    font-family: square;
    color: #9647B7;
    font-size: 50px;
    
}
#CharlesPage p,#CharliePage p{
    position: absolute;
    top: 105px;
    left: 5%;
    font-family: body1;
    color:white;
    font-size: 30px;
}
#CharlesPage #skills,#CharliePage #skills{
    position: absolute;
    top: 155px;
    left: 5%;
    font-family: body1;
}
#CharlesPage #hobbies,#CharliePage #hobbies{
    position: absolute;
    top: 210px;
    left: 5%;
    font-family: body1;
}
@-webkit-keyframes scrollUp {
    from {top:1000; }
    to { top:65%; }
}
@-webkit-keyframes LR {
    from {left: -1000px; }
    to { left: 0px; }
}
@-webkit-keyframes RL {
    from { right: -1000px; }
    to { right: 0; }
}
@-webkit-keyframes RL2 {
    from { right: -1000px; }
    to { right: 50px; }
}
@-webkit-keyframes TD {
    from { top: -1000px; }
    to { top: 47%; }
}

/*Sidenav***********************************************************/
.sidenav {
    height: 200px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 101px;
    right: 0;
    background-color: rgba(17, 17, 17, 0.94);
    overflow: hidden;
    transition: 0.5s;
    font-family: body1 ;
}

.sidenav li {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}
.email{
}
.closebtn{
    width:50px;
    cursor: pointer;
}
.bottomContact{
    padding-top:20px;
    height:60px;
    width:450px;
    margin:auto;
    overflow: hidden;
}
.socialMedia{
    width:50px;
    height:50px;
    border-radius:100px;
    float:left;
    margin:0px 50px 0px 50px;
    background-color:white;
    cursor:pointer;
}
#facebook img{
    width:50px;
    margin:0;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

